.welcome-board {
    .user-info {
      margin: 20px;
    }
  
    .user-card {
      max-width: 400px;
      margin: 0 auto;
    }
  
    .user-actions {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
  