<!-- search-center.component.html -->
<mat-form-field class="input-full-width">
  <mat-label>Saisissez votre ville</mat-label>
  <input
    type="text"
    matInput
    [(ngModel)]="searchTerm"
    [matAutocomplete]="auto"
    (input)="filterCentres()"
    placeholder="Ex: Nancy"
  />
  <mat-icon matPrefix>location_on</mat-icon>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let centre of filteredCentres" (click)="chooseCentre(centre)">
      {{ centre.centreName }} - {{ centre.city }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
