<ul>
    <li *ngFor="let aCenter of centers">
        <button [ngClass]="aCenter==selectedCenter ? 'selected' : ''"
        (click)="select(aCenter)">{{aCenter.name}}</button>
    </li>

    <div *ngIf="selectedCenter">
        <h1>Centre selectionné : {{selectedCenter.name}}</h1>
        <h1>Ouvert le : {{selectedCenter.openingDate | date: 'dd/MM/yyyy'}}</h1>
        <a routerLink = "/centers/detail/{{selectedCenter.id}}">Choisir le centre {{selectedCenter.name}}</a>
        <!-- <app-vaccination-center [center]="selectedCenter" (deleted)="onDeleted($event)"></app-vaccination-center> -->
    </div>

</ul>