.homepage {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 20px;
    border-radius: 0 0 48px 48px;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .homepage__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../../assets/images/background.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -2;

    &::before{
        content: '';
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.2); 
        backdrop-filter: blur(6px);
        z-index: -1;
    }
  }
  
  .homepage__overlay {
    position: relative;
    width: 50%;
    z-index: 1;
    padding: 20px;
  }

  .homepage__content {
    position: relative;
    width: 100%;
    min-height: 200px; /* Ajuste en fonction du contenu */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

  .homepage__search,
  .homepage__appointment {
      display: flex;
      flex-direction: column;
      text-align: left;
      background-color: white;
      border-radius: 8px;
      padding: 32px;
      position: absolute; /* Prevents layout shifting */
      width: 100%;
      top: 0;
      left: -32px;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0s 0.5s;
  }
  
  /* Default state: search is visible */
  .homepage__search {
      transform: translateX(0%);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
  }
  
  /* Appointment starts off-screen and hidden */
  .homepage__appointment {
      transform: translateX(150%);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
  }
  
  /* When activating appointment mode */
  .homepage.appointment-active .homepage__search {
      transform: translateX(-150%);
      opacity: 0;
      visibility: visible;
      pointer-events: none;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0s 0.5s; /* Delayed visibility to avoid overlap */
  }
  
  .homepage.appointment-active .homepage__appointment {
      transform: translateX(0%);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .homepage__search p {
    margin: 0;
    font-size: 0.9rem;
  }

  .homepage__search app-search-center {
    align-self: center;
    width: 100%;
  }

  .info-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    position: absolute;
    top: calc(80vh - 40px); // Mi-hauteur de la fin du div homepage
    width: 100%;
  } 
  
  